/*QUESTION :- Must to have
The div with the class as container should have a width of 50%
The div with the class as container should have a height of 200px
The div with the class as container should have a border of 1px and the color of the border should be black
The body should have background color of coral
The div with the class as container should have a background color of aqua
The div with the class as container should become blueviolet on hover
The div with the class as container should rotate 180 degrees on hover  */

/* SOLUTION  */

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        body{
            background-color:coral;
        }
        .container{
            width:50%;
            height:200px;
            border:1px solid black;
            background-color:aqua;
        }
        .container:hover{
            transition:transform 0.5s ease;
            background-color:blueviolet;
            transform:rotate(180deg);
        }
    </style>
</head>

<body>
  <div class="container"></div>
</body>

</html>
